@media screen and (max-width: 767px) {
    #body {
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (min-width: 768px) {
    .pgu.pgu-container {
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media (min-width: 1024px) {
    .pgu.pgu-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 1280px) {
    .pgu.pgu-container {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1366px) {
    .pgu.pgu-container {
        padding-left: 33px;
        padding-right: 33px;
    }
}

@media (min-width: 1600px) {
    .pgu.pgu-container {
        padding-right: 36px;
        padding-left: 36px;
    }
}

.prototype {
    display: none;
    padding: 10px 0 20px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #ef3824;
}

.info-block.info-block-line.form-additional {
    display: none;
}

.person-document:before {
    display: none !important;
}

.person-document .doc-type-select-label label {
    display: none;
}

.person-document .mb-6 {
    margin-bottom: 1rem !important;
}

.fias_custom .element-control.form-horizoontal {
    margin-bottom: 1.5rem;
}

.add-to-favorites {
    display: none;
}

#mos_news_banner {
    display: none !important;
}

.remote-voting {
    width: 100%;
}

.form-draft {
    display: none;
}

.elections {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .elections {
        display: none;
    }
}

.field .control-label {
    color: #6a7989 !important;
}

.field .field__hint {
    display: none;
}

.field.disabled input {
    background-color: rgba(243,245,247,0.3);
}

.field.disabled .required {
    display: none;
}

.field.disabled .field__clear {
    display: none;
}

.field.disabled .form-control[readonly] {
    border: 1px solid #ced4da;
    color: #333333;
    background-image: url(/common/v2/images/icons/icon-arrow-down-success.svg);
    background-position: right .875rem center;
    background-repeat: no-repeat;
    background-size: 12px 7px;
    cursor: not-allowed;
}

.popup-buttons {
    margin-top: 10px;
}

.popup-buttons .button {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #0848c0;
}

.button.button-cancel {
    border: 1px solid #0848c0;
    color: #0848c0;
    background-color: white;
}

.button.button-cancel:hover,
.button.button-cancel:active,
.button.button-cancel:focus {
    border: 1px solid #073ea6;
    color: #073ea6;
    background-color: white;
}

.modal-content .close {
    background-image: url(/common/img/mos-ru/close.png);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.errors {
    list-style: none;
    padding-left: 60px;
}

.errors li {
    padding-bottom: 10px;
}

.errors .icon {
    margin-left: -40px;
    vertical-align: top;
}

.errors .icon-24 {
    background-size: 24px;
    height: 24px;
    font-size: 24px;
    width: 24px;
}

.errors .icon-status-error {
    background-image: url(../images/icons/icon-status-error.svg);
}

.errors .error {
    display: inline-block;
    padding-left: 10px;
}

.validationConfirmBlock {
    display: none;
}

/* Phone confirm block */
.elk_confirm_block .form-infobox { display: none;}
.elk_confirm_block .cancel { display: none; }

.elk_confirm_block .refresh {
    display: inline-block;
    color: #2589de;
    cursor: pointer;
}

.elk_confirm_block .refresh:hover {
    color: #18619f;
}

.elk_confirm_block {
    margin-top: 10px;
}

.withClearBox{
    width:14px;
    height:14px;
    display:none;
    margin-left: -55px;
    margin-top: 29px;
    position: absolute;
    cursor: pointer;
    background: url(/common/img/mos-ru/inputs/krestik.svg) 0px 0px no-repeat;
}

.withClear.date_wrap  .withClearBox{
    margin-left: 104px;
    margin-top: -41px;
    z-index:1000;
}
.withClear.serial_number .withClearBox{
    margin-left: 90px;
    margin-top: -41px;
}
.withClear .withClearBox{
    display:block;


}
.ConfirmFinal {
    height:56px;
    padding-left: 66px;
    /*    display: table-cell; */
    vertical-align: middle;
    float:none;
}
.ConfirmSuccess {
    background: url(/common/img/mos-ru/popup-result/success.svg) 0px 0px no-repeat;
}
.ConfirmError{
    background: url(/common/img/mos-ru/popup-result/error.svg) 0px 0px no-repeat;
}

.ConfirmProcess p, .ConfirmFinal p {
    padding-top: 0;
    margin-bottom: 0px !important;
    font-family: "PT Sans";
}
.ConfirmProcess .ConfirmAction p{
    padding-top:0px;
}


.ConfirmProcess .blue {
    cursor: pointer;
    color: #2589DE;
    font-family: "PT Sans";
}

.ConfirmProcess .blue:hover {
    color: #1358A8;
    font-family: "PT Sans";
}

.ConfirmProcess .blue:active {
    color: #0C4999;
    font-family: "PT Sans";
}

.ConfirmProcess .small {
    font-size: 12px;
}
.ConfirmAction{
    padding-top:15px;
    padding-left:0;
}

.inputNew {
    padding-top: 10px;
}

.inputNew div.error{
    color:	#C92723;
    position: absolute;
    font-size: 11px;
    margin-left: 16px;
    top: 65px;
}
.inputNew input{padding: 22px 15px 8px 15px; height:auto; border: 1px solid #D6DADE; border-radius: 2px; background-color: #FFFFFF; color: #333333; width:100%;}
.inputNew input:disabled{border: 1px solid rgba(214,218,222,0.5); background-color: rgba(243,245,247,0.3); color: rgba(158,164,172,0.75);}
.inputNew label{color: #9EA4AC; font-size: 12px; line-height: 24px;  position: absolute; min-height: 0px; margin-left: 16px;}
.inputNew input.error{border: 1px solid #C92723;}
.inputNew.error  label , .inputNew.error  input{ color:	#C92723;}

.shadowBody{
    display: none;
    position:absolute;
    background-color: rgba(51,51,51,0.5);
    width:100%;
    z-index:2000;
}

.browsers {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.browser {
    float: left;
    width: 20%;
    text-align: center;
}

.browser__name {
    font-size: 15px;
    display: inline-block;
    padding: 12px 0 15px;
}

.browser__icon {
    display: block;
    margin: auto;
    border: none;
    outline: 0;
    background: url(/common/img/forms/mgik/mgd-golosovanie/browser_icons.png) no-repeat;
}

.browser__icon--yandex {
    width: 75px;
    height: 75px;
    background-position: -252px -5px;
}

.browser__icon--firefox {
    width: 75px;
    height: 75px;
    background-position: -87px -4px;
}

.browser__icon--chrome {
    width: 72px;
    height: 75px;
    background-position: -5px -5px;
}

.browser__icon--ie {
    width: 74px;
    height: 75px;
    background-position: -172px -4px;
}

.browser__icon--opera {
    width: 75px;
    height: 75px;
    background-position: -337px -4px;
}

.bulletin {
    font-size: 18px;
}

.bulletin h1 {
    margin: 10px 0 30px 0;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.bulletin h2 {
    margin: 10px 0 20px 0;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.bulletin h3 {
    margin: 0 0 10px 0;
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

.bulletin__page {
    border: 1px solid #d5dbdf;
}

.bulletin__header {
    padding: 20px 0;
}

.bulletin__date {
    font-size: 19px;
    text-align: center;
}

.bulletin__text {
    padding: 20px 20px;
    border-top: 3px solid #d5dbdf;
    border-bottom: 3px solid #d5dbdf;
    text-align: center;
}

.bulletin__deputies {

}

.bulletin__deputy {
    padding: 15px 0;
    border-bottom: 1px solid #d5dbdf;
}

.bulletin__deputy:last-child {
    border-bottom: none;
}

.bulletin__name {
    font-weight: bold;
    line-height: 38px;
}

.bulletin__lastname {
    font-size: 32px;
}

.bulletin__fullname {
    font-size: 24px;
}

.bulletin__desc {

}

.bulletin__action {
    position: relative;
    padding-top: 15px;
    text-align: center;
}

.bulletin__btn {
    display: none;
    position: absolute;
    top: 12px;
    right: -220px;
    margin: 0;
    border: none;
    cursor: pointer;
}

.bulletin__radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.bulletin__radio + div {
    width: 50px;
    height: 50px;
    border: 1px solid #d5dbdf;
    background-color: #fff;
    cursor: pointer;
}

.bulletin__radio:checked + div {
    background-image: url(/common/img/mos-ru/selected.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bulletin__result {
    padding: 50px 0;
    text-align: center;
}

.bulletin__msg {
    font-size: 42px;
}

.timer_head {
    right: 20px;
    border: 1px solid #898989;
    font-size: 40px;
    font-weight: bold;
    background: #f4f5f7;
}

.timer_title {
    margin-bottom: 5px;
    color: #525252;
}

.timer_img {
    display: none;
}

.timer_value {
    margin-bottom: 5px;
    font-size: 40px;
    color: #0045c6;
}

/* Service page */
.ServiceTitle {
    display: none;
}

.landing .poster {
    margin-bottom: 10px;
    padding: 35px 25px 20px;
    background-color: #eef4f7;
}

.landing .poster__title {
    margin-bottom: 25px;
}

.landing .poster__text {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 28px;
    font-weight: normal;
}

.landing .poster__list {
    margin-bottom: 40px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 28px;
    font-weight: normal;
}

.landing .poster__btn {
    max-width: 100%;
    padding: 15px 80px;
    border: none;
    border-radius: 0;
    background-color: #4f94fc;
}

@media (max-width: 576px) {
    .landing .poster__btn {
        padding: 15px 20px;
    }
}

.landing .landing__title {
    margin: 40px 0 30px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #d6dade;
    font-size: 25px;
}

.landing .dept__box {
    height: 100%;
    padding: 10px 25px;
    border: 1px solid #d6dade;
}

.landing .dept__title {
    margin: 25px 0 25px;
    font-size: 18px;
}

.landing .dept__list {
    padding-left: 0;
    line-height: 21px;
    list-style: none;
}

.landing .dept__list li {
    margin-bottom: 12px;
}

.landing .dept__list a {
    font-size: 16px;
}

.landing .dept__depts {
    padding: 0;
    list-style: none;
}

.landing .dept__item {
    display: block;
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #d6dade;
}

.landing .dept__photo {
    display: block;
    width: 100%;
    max-width: 210px;
    margin: 0 auto 15px;
}

.landing .dept__logo {
    display: block;
    max-width: 70px;
    max-height: 100px;
    margin: 0 auto 15px;
}

.landing .dept__university {
    margin-bottom: 15px;
    line-height: 20px;
}

.landing .dept__last-name {
    font-size: 27px;
    font-weight: bold;
}

.landing .dept__full-name {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.landing .dept__year {
    margin-bottom: 10px;
}